{# <div class="slide-img" style="background:linear-gradient(180deg, rgba(0, 0, 0, 0) 37.9%, rgba(0, 0, 0, 0.91) 100%), url('{{ file_url(paragraph.field_image.entity.field_media_image.entity.fileuri) }}') no-repeat center center/cover; ">


</div> #}


<div class="trailblazer-slide-item">
    <div class="row">
        <div class="col-md-6 trailblazer-slide-image-col">
            {{ content.field_profile_image.0 }}
        </div>
        <div class="col-md-6 trailblazer-slide-content-col p-4">    
            <div class="trailblazer-slide-description d-flex flex-column justify-content-between h-100">
                
                {{ content.field_body.0 }}
                <div class="trailblazer-slide-name-role mt-4">
                    <h4 class="fw-bold mb-3">{{ content.field_name.0 }}</h4>
                    {{ content.field_role.0 }}
                </div>
            </div>
        </div>
    </div>
</div>    
