{%
  set classes = [
    'node',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
  ]
%}
{{ attach_library('classy/node') }}
<article{{ attributes.addClass(classes) }}>

  {{ title_prefix }}
  {% if label and not page %}
    <h2{{ title_attributes }}>
      <a href="{{ url }}" rel="bookmark">{{ label }}</a>
    </h2>
  {% endif %}
  {{ title_suffix }}

  {% if display_submitted %}
    <footer class="node__meta">
      {{ author_picture }}
      <div{{ author_attributes.addClass('node__submitted') }}>
        {% trans %}Submitted by {{ author_name }} on {{ date }}{% endtrans %}
        {{ metadata }}
      </div>
    </footer>
  {% endif %}


    

    <div class="node_content"> 
      <div class="mt-5">
        <h2 class="mb-3">{{ label.0 }}</h2>

        <div class="mt-3 mb-3">{{ node.body.summary }} </div> 

        <div class="date-social">
          {% set created = node.getCreatedTime|date('F j, Y') %}
          <p>{{ created }}</p>

        </div> 
        <div class="page-image mt-3 mb-3">
          {{ content.field_image.0 }}
        </div>

        <div class="node_content body mb-5"> {{ content.body.0 }} </div>
      </div>  
    </div>
 

</article>