{%
  set classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
  ]
%}

<div{{ attributes.addClass(classes) }}>
    {{ title_prefix }}
    {% if label %}
        <h2{{ title_attributes }}>{{ label }}</h2>
    {% endif %}
    {{ title_suffix }}
    {% block content %}

    {% set position = content.field_slideshow_position[0]['#markup'] %}

    {% if position == 'Right' %}
        <div class="row justify-content-center py-6">
            <div class="col-md-6 d-flex align-items-center">
                <div class="mini-slideshow-content">
                    <h3 class="mb-4">{{ content.field_title.0 }}</h3>
                    {{ content.field_caption.0 }}
                    {% if content.field_rate.0 %}<div class="rates my-3 fw-bold">{{ content.field_rate.0 }}</div>{% endif %}
                </div>
            </div>    
            <div class="col-md-6">
                <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                    
                    <div class="carousel-indicators-arrows mini-slideshow-carousel-indicators-arrows">
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <div class="carousel-indicators">
                            {% for i in content.field_slide_item['#items']|keys %}
                                {% if i == 0 %}
                                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="{{ i }}" class="active" aria-current="true" aria-label="Slide {{ i + 1 }}"></button>
                                {% else %}
                                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="{{ i }}" aria-label="Slide {{ i + 1 }}"></button>
                                {% endif %}
                            {% endfor %}
                        </div>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                    <div class="carousel-inner mini-slideshow-carousel-inner">
                        {% for i in content.field_slide_item['#items']|keys %}
                            {% if i == 0 %}
                                <div class="carousel-item active">
                                    {{ content.field_slide_item[i] }}
                                </div>
                            {% else %}
                                <div class="carousel-item">
                                    {{ content.field_slide_item[i] }}
                                </div>
                            {% endif %}
                        {% endfor %}    
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <div class="row justify-content-center py-6">
            <div class="col-md-6">
                <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                    
                    <div class="carousel-indicators-arrows mini-slideshow-carousel-indicators-arrows">
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <div class="carousel-indicators">
                            {% for i in content.field_slide_item['#items']|keys %}
                                {% if i == 0 %}
                                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="{{ i }}" class="active" aria-current="true" aria-label="Slide {{ i + 1 }}"></button>
                                {% else %}
                                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="{{ i }}" aria-label="Slide {{ i + 1 }}"></button>
                                {% endif %}
                            {% endfor %}
                        </div>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                    <div class="carousel-inner mini-slideshow-carousel-inner">
                        {% for i in content.field_slide_item['#items']|keys %}
                            {% if i == 0 %}
                                <div class="carousel-item active">
                                    {{ content.field_slide_item[i] }}
                                </div>
                            {% else %}
                                <div class="carousel-item">
                                    {{ content.field_slide_item[i] }}
                                </div>
                            {% endif %}
                        {% endfor %}    
                    </div>
                </div>
            </div>
            <div class="col-md-6 d-flex align-items-center">
                <div class="mini-slideshow-content">
                    <h3 class="mb-4">{{ content.field_title.0 }}</h3>
                    {{ content.field_caption.0 }}
                    {% if content.field_rate.0 %}<div class="rates my-3 fw-bold">{{ content.field_rate.0 }}</div>{% endif %}
                </div>
            </div>
        </div>  
    {% endif %}         
    {% endblock %}
</div>    
