{%
  set classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
  ]
%}

<div{{ attributes.addClass(classes) }}>
    {{ title_prefix }}
    {% if label %}
        <h2{{ title_attributes }}>{{ label }}</h2>
    {% endif %}
    {{ title_suffix }}
    {% block content %}
        <div class="rates-content">
            {{ content.body.0 }}
            <div class="row">
            {% for i in content.field_rates['#items']|keys %}
                <div class="col-md-4 mb-4">
                    <div class="rates">{{ content.field_rates[i] }}</div>
                </div>
            {% endfor %}
            </div>
        </div>
    {% endblock %}
</div>    