<div class="col-lg-4 col-md-6">
    <a class="event-card d-block mb-3 p-4 br-8" href="{{ fields.view_node.content }}">
        <div class="d-flex gap-3">
            <div class="event-date d-flex flex-column align-items-center">
                <span class="short-month">{{ fields.field_date_1.content }}</span>
                <span class="day">{{ fields.field_date_2.content }}</span>
            </div>
            <div class="">
                <h6>{{ fields.title.content }}</h6>

                <div class="event-date-time d-flex align-items-center gap-2 mt-3">
                    <span class="date">{{ fields.field_date.content }} | {{ fields.field_time.content }} </span>
                </div>

                {% if fields.field_venue.content %}
                <div class="event-venue d-flex align-items-center gap-2">
                    <span class="venue"> {{ fields.field_venue.content }}</span>
                </div>  
                {% endif %}

            </div>
        </div>   
    </a>
</div>