{#
/**
 * @file
 * Default theme implementation to display a two-column layout.
 *
 * Available variables:
 * - in_preview: Whether the plugin is being rendered in preview mode.
 * - content: The content for this layout.
 * - attributes: HTML attributes for the layout <div>.
 *
 * @ingroup themeable
 */
#}
{% if content %}
  <div{{ attributes }}>
    
    <div class="{{ row_class }}"> 
      {% if content.first %}
        <div {{ region_attributes.first }}>
          {{ content.first }}
          {# {{ settings.column_widths }} #}
        </div>
      {% endif %}

      {% if content.second %}
        <div {{ region_attributes.second }}>
          {{ content.second }}
        </div>
      {% endif %}
    
 
{% endif %}

{# {{ dump() }} #}
